<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.task.mapper.TaskMapper">
    
    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="ddl"    column="ddl"    />
        <result property="duration"    column="duration"    />
        <result property="state"    column="state"    />
        <result property="value"    column="value"    />
        <result property="priority"    column="priority"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, name, type, ddl, duration, state, value, priority from Task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="ddl != null "> and ddl = #{ddl}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="value != null "> and value = #{value}</if>
            <if test="priority != null "> and priority = #{priority}</if>
        </where>
    </select>
    
    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into Task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null">type,</if>
            <if test="ddl != null">ddl,</if>
            <if test="duration != null">duration,</if>
            <if test="state != null">state,</if>
            <if test="value != null">value,</if>
            <if test="priority != null">priority,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="ddl != null">#{ddl},</if>
            <if test="duration != null">#{duration},</if>
            <if test="state != null">#{state},</if>
            <if test="value != null">#{value},</if>
            <if test="priority != null">#{priority},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update Task
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="ddl != null">ddl = #{ddl},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="state != null">state = #{state},</if>
            <if test="value != null">value = #{value},</if>
            <if test="priority != null">priority = #{priority},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from Task where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from Task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>